<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div id="navbar-container" class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href={% url 'home' %}>Datacademy</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="{% url 'course_list' %}">Courses</a></li>
          <li><a href="{% url 'rserver' %}">RonCloud</a></li>
        </ul>
        <ul class="nav pull-right">
          {% if request.user.is_authenticated %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ request.user }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'userena_profile_edit' request.user.username %}"><i class="icon-user"></i> Settings</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'userena_signout' %}"><i class="icon-off"></i> Log out</a></li>
            </ul>
            </li>
          {% else %}
            <li><a href="{% url 'userena_signin' %}">Log in</a></li>
            <li class="navbar-text">or</li>
            <li><a href="{% url 'userena_signup' %}">Sign up</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar ... -->
