<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Datacademy</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'news_list' %}">News</a></li>
      </ul>

      <!-- Right user control -->
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ request.user }}
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'course_list' %}"><span class="glyphicon glyphicon-th"></span> Courses</a></li>
              <li><a href="{% url 'userena_profile_edit' request.user.username %}"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'userena_signout' %}"> Log out</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{% url 'userena_signin' %}">Log in</a></li>
          <li class="navbar-text">or</li>
          <li><a href="{% url 'userena_signup' %}">Sign up</a></li>
        {% endif %} 
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>