<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><a href="{% url 'lecture_detail' lecture.pk %}">Level 1</a></li>
      <li class="nav-header">Exercises</li>
      {% for exercise in lecture.exercise_set.all %}
        {% if exercise == element_active %}
          <li class="active"><a href="{% url 'exercise_detail' exercise.pk %}">{{ exercise.title }}</a></li>
        {% else %}
          <li><a href="{% url 'exercise_detail' exercise.pk %}">{{ exercise.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="divider"></li>
      <li><a href="{% url 'course_detail' lecture.course.pk %}">Lecture list</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->