{% extends 'userena/profile_base.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block profile_content %}
  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>{% trans "Change email address" %}</legend>
      {% bootstrap_form form %}
    </fieldset>
    <input type="submit" value="{% trans "Change email" %}" class="btn btn-flat flat-color"/>
  </form>
{% endblock profile_content%}



{% block extra_js %}
<script>
  $("#change_email").addClass("active");
</script>
{% endblock extra_js %}