{% extends "base.html" %} 
{% load i18n %}
{% load url from future %}
{%  load staticfiles %}

{% block title %}{{ username }}'s profile.{% endblock %}


{% block extra_css %}
<style>
.a-linkedin{
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
</style>
{% endblock extra_css %}


{% block outer_content %}

{% include "core/page_title.html" with page_title='Public Profile' %}

<!-- PROFILE -->
<section class="section colored-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wrapper-1">
                <div id="carousel-example-generic" class="carousel slide">
                  <img src="{{ profile.get_mugshot_url }}" class="img-responsive" height="200", width="200">
                </div>
            </div>
            <div class="col-md-9 wrapper-1">
                <h3 class="subpage-title">{{ profile.user.username }}</h3>
                {% if profile.short_bio %}
                    <p>{{ profile.short_bio }}</p>
                {% else %}
                    <p> No bio provided.</p>
                {% endif %}

                {% if profile.linkedin_profile %}
                    <p><a href="{{ profile.linkedin_profile }}" class="a-linkedin">
                      <i class="icon-linkedin"></i>
                    </a></p>
                {% endif %}

                {% ifequal profile.user.username user.username %}
                    <a href="{% url 'userena_profile_edit' user.username %}" class="btn btn-flat flat-info">Edit profile</a>

                {% endifequal %}
            </div>
        </div>
    </div><!-- /.container -->
</section>

<!-- COURSES -->
<section class="section">
  <div class="container wrapper-2">
    <h5 class="subpage-title">Courses</h5>
    <div class="row">
    {% for course in profile.courses.all %}
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="{% static 'img/portfolio/photo (1).jpg' %}" class="img-responsive" alt="1st Portfolio Thumb">
                    <div class="image-overlay"></div>
                    <a href="{% url 'course_detail' course.pk %}" class="portfolio-link"><i class="icon-plus"></i></a>
                </div>
                <div class="portfolio-content">
                    <h5>{{ course.title }}</h5>
                    <p>{{ course.short_description }}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>
</section>


<section class="section">
  <div class="container wrapper-2">
    <h5 class="subpage-title">Courses</h5>
    <div class="row">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        
        var disqus_shortname = 'datacademy'; 

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

  </div>
</section>

{% endblock outer_content %}




{% block extra_js %}
    

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'datacademy'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>

{% endblock extra_js %}


