{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <fieldset>
    <h5 class="subpage-title">SIGN UP</h5>
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field.errors }}
        {% comment %} Displaying checkboxes differently {% endcomment %}
        {% if field.name == 'tos' %}
            <p class="checkbox">
            <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
            </p>
        {% else %}
            <p>
            {% bootstrap_field field %}
            </p>
        {% endif %}
    {% endfor %}
    </fieldset>
    <input type="submit" value="{% trans "Signup"%}" class="btn btn-flat flat-color"/>
</form>
{% endblock %}
