{% extends "base.html" %}
{% load staticfiles %}


{% block extra_css %}
  <link href="{% static 'css/jquery_terminal/jquery.terminal.css' %}" rel="stylesheet"/>
  <style>
    .container-fluid, 
    .row-fluid,
    .span5 {
      height:100%;
    }


  </style>
{% endblock extra_css %}

{% block content %}

  <div class="row-fluid">

    {% include "core/sidebar.html" %}

    <div class="span10 page-header">
      <h1>{{ exercise.title }}</h1>
      <p class="lead">{{ exercise.description }}</p>
    </div>

    <!-- Terminal -->
    <div class="span5">
      <div id="term_demo" class="terminal">
      </div>
    </div>

    <!-- Helper -->
    <div class="span5">

      <!-- Tab nav -->
      <ul id="ulTab" class="nav nav-tabs">
        <li class=""><a id="help-tab" href="#help" data-toggle="tab">Help</a></li>
        <li class=""><a id="plot-tab" href="#plot" data-toggle="tab">Plot</a></li>
        <li class=""><a id="hint-tab" href="#hint" data-toggle="tab">Hint</a></li>
        <li class=""><a id="slides-tab" href="#slides" data-toggle="tab">Slides</a></li>
      </ul>

      <!-- Tab content -->
      <div class="tab-content">
        <div class="tab-pane active" id="help">
          <iframe id="frame" src="" style="width: 100%; height:450px;" ></iframe>
        </div>
        <div class="tab-pane" id="plot">
          <p>TBD.<p>
        </div>
        <div class="tab-pane" id="hint">
          <p>TBD.<p>
        </div>
        <div class="tab-pane" id="slides">
          <iframe id="resource_iframe" src="{{ lecture.slides.url }}" style="width: 100%; height:450px;"></iframe>
        </div>
      </div>
    </div>

  </div><!--/row-fluid-->
{% endblock content %}


{% block push %}{% endblock push %}


{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/pdfjs/pdf.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/pdfjs/compatibility.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery_terminal/jquery.mousewheel-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery_terminal/jquery.terminal-min.js' %}"></script>
  <script>
    $('.container').addClass('container-fluid').removeClass('container');
  </script>
  
  <script>
    // display R function documentation  
    function displayHelpForCommand(command){
      var url = "http://www.nku.edu/~longa/Rweb/library/base/html/" + command +".html"
      $("#frame").attr("src", url);
    }
  </script>

  <script>
    $(function () {
      $('#ulTab a:last').tab('show');
    })
  </script>

  <script type="text/javascript">
  //regular expression definitions
  var reHelp = /help\(([A-Za-z0-9_\.]+)\)/,
      rePlot = /plot\(([A-Za-z0-9_\.|\:]+)\)/;

  jQuery(function($, undefined) {
    $('#term_demo').terminal(function(command, term) {

        if (reHelp.exec(command)){
          rCommand = reHelp.exec(command)[1];
          console.log('R command: ' + rCommand);
          displayHelpForCommand(rCommand);

          //display tab
          $('#help-tab').tab('show');

        }else if(rePlot.exec(command)){

          //display tab
          $('#plot-tab').tab('show');

        }else if (command !== '') {
            try {
                var result = window.eval(command);
                if (result !== undefined) {
                    term.echo(new String(result));
                }
            } catch(e) {
                term.error(new String(e));
            }
        } else {
           term.echo('');
        }
    }, {
        greetings: 'Press Enter to submit, or type \'help\' for info',
        name: 'js_demo',
        height: 500,
        prompt: '> '});
  });
  </script>


  <script type="text/javascript">
    PDFJS.workerSrc = {% static 'js/pdfjs/pdf.worker.js' %};
  </script>


  {% if lecture.slides %}
  <script type="text/javascript">
    //
    // Disable workers to avoid yet another cross-origin issue (workers need the URL of
    // the script to be loaded, and currently do not allow cross-origin scripts)
    //
    // PDFJS.disableWorker = true;

    var pdfDoc = null,
        pageNum = 1,
        scale = 0.8,
        canvas = document.getElementById('the-canvas'),
        ctx = canvas.getContext('2d');

    //
    // Get page info from document, resize canvas accordingly, and render page
    //
    function renderPage(num) {
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function(page) {
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        page.render(renderContext);
      });

      // Update page counters
      document.getElementById('page_num').textContent = pageNum;
      document.getElementById('page_count').textContent = pdfDoc.numPages;
    }

    //
    // Go to previous page
    //
    function goPrevious() {
      if (pageNum <= 1)
        return;
      pageNum--;
      renderPage(pageNum);
    }

    //
    // Go to next page
    //
    function goNext() {
      if (pageNum >= pdfDoc.numPages)
        return;
      pageNum++;
      renderPage(pageNum);
    }

    //
    // Asynchronously download PDF as an ArrayBuffer
    //
    PDFJS.getDocument('{{ lecture.slides.url }}').then(function getPdfHelloWorld(_pdfDoc) {
      pdfDoc = _pdfDoc;
      renderPage(pageNum);
    });
  </script>  
  {% endif %}
{% endblock extra_js %}

