{% extends "base.html" %}

{% block content %}

  <div class="row-fluid">

    {% include "core/sidebar.html" %}

    <div class="span10"> 

      <div class="page-header">
        <h1><small>Lecture 1 </small>{{ lecture.title }}</h1>
      </div>

      <p class="text-center">
        <iframe width="560" height="315" src="//www.youtube.com/embed/mVWeqAPQUXc" frameborder="0" allowfullscreen></iframe>
      </p>
      <p class="text-center">
        <a href="{% url 'exercise_detail' lecture.exercise_set.all.0.pk %}" class="btn btn-large btn-primary">Start challenges</a>
      </p>


    </div>
  </div>
{% endblock content %}


{% block extra_js %}
<script>
$('.container').addClass('container-fluid').removeClass('container');
</script>
{% endblock extra_js %}


