{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <div class="row-fluid">

    {% include "core/sidebar.html" %}

    <div class="span10"> 

      <div class="page-header">
        <h1><small>Lecture {{ lecture.number }} </small>{{ lecture.title }}</h1>
      </div>

      <div class="span8 offset1">
        {{ lecture.video|safe }}
        <hr>
        <p class="text-center">
          <a href="{% url 'exercise_detail' lecture.exercise_set.all.0.pk %}" class="btn btn-large btn-primary">Start challenges</a>
        </p>
      </div>

    </div>
  </div>
{% endblock content %}


{% block extra_js %}
<script>
$('.container').addClass('container-fluid').removeClass('container');
</script>


<script src="{% static 'js/fitvid/jquery.fitvids.js' %}"></script>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".row-fluid").fitVids();
  });
</script>
{% endblock extra_js %}



