{% extends "base.html" %}
{% load staticfiles %}



{% block outer_content %}

{% include 'core/page_title.html' with page_title='Analytic News' %}


<section id="blog-wrapper" class="section layout-1">
<div class="container">
    <div class="row">
        <div class="col-md-9 content-wrapper">
            {% for element in news %}
            <article class="post">
                <div class="post-content">
                    <h4 class="post-title"><a href="{{ element.link }}">{{ element.title }}</a></h4>
                    {{ element.raw|safe }}
                </div> <!-- /.post-content -->
              {% endfor %}
            </article>
        </div><!-- /.col-md-9 -->
    </div><!-- /.row -->
</div><!-- /.container -->
</section>

{% endblock outer_content %}



{% block extra_js %}
<script>
 $(".annInner").addClass("well");
</script>

{% endblock extra_js %}




