{% extends "courses/lecture_base.html" %}
{% load staticfiles %}


{% block lecture_content %}

    <div class="page-header ">
        <h1><small>Lecture {{ lecture.number }} </small>{{ lecture.title }}</h1>
    </div>
    
    <div class="video-wrapper" style="text-align: center">
    {{ lecture.video|safe }}
    </div>

    <hr>
    
    <p class="text-center">
        <a href="{% url 'exercise_detail' lecture.exercise_set.all.0.pk %}" class="btn btn-large btn-primary">Start challenges</a>
    </p>
  
{% endblock lecture_content %}


{% block extra_js %}
<script>
// $('.container').addClass('container-fluid').removeClass('container');
</script>


<script src="{% static 'js/fitvid/jquery.fitvids.js' %}"></script>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".video-wrapper").fitVids();
  });
</script>

<script>
$(".container").removeClass("container");
</script>

{% endblock extra_js %}
