{% extends "base.html" %}
{% load i18n %}
{% load url from future %}


{% block extra_css %}
    <style>
        .sidebar{
            margin-top: 30px;
            margin-left: 15px;
        }
    </style>
{% endblock extra_css %}



{% block outer_content %}


    <div class="row">
        
        <!-- SIDEBAR -->
        <div class="col-md-2 sidebar">     
            <div class="widget categories">
                <h5 class="subpage-title">Lectures</h5>
                <ul class="widget-list">
                    <li><a href="{% url 'lecture_detail' lecture.pk %}">Lecture {{ lecture.number }}</a></li>
                    <li><a href="{% url 'course_detail' lecture.course.pk %}">Lecture list</a></li>
                    <li><a href="{% url 'lecture_discussion' lecture.pk %}">Course discussion</a></li>
                </ul>
            </div>

            <div class="widget categories">
                <h5 class="subpage-title">Exercises</h5>
                <ul class="widget-list">
                    {% for exercise in lecture.exercise_set.all %}
                        {% if exercise == element_active %}
                            <li class="active"><a href="{% url 'exercise_detail' exercise.pk %}">{{ exercise.title }}</a></li>
                        {% else %}
                            <li><a href="{% url 'exercise_detail' exercise.pk %}">{{ exercise.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- /.categories -->
        </div><!-- /.sidebar -->


        <div class="col-md-9 content-wrapper">
        
        {% block lecture_content %}
        {% endblock lecture_content %}    

        </div><!-- /.content-wrapper -->
    </div><!-- /.row -->

{% endblock outer_content%}



