{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

  <div class="row row-offcanvas row-offcanvas-left">

    {% include "core/sidebar.html" %}

    <div class="col-xs-12 col-sm-9"> 

      <div class="page-header">
        <h1><small>Lecture {{ lecture.number }} </small>{{ lecture.title }}</h1>
      </div>

      <div class="col-md-8 col-md-offset-1">
        {{ lecture.video|safe }}
        <hr>
        <p class="text-center">
          <a href="{% url 'exercise_detail' lecture.exercise_set.all.0.pk %}" class="btn btn-large btn-primary">Start challenges</a>
        </p>
      </div><!-- /col-md-8 -->

    </div><!-- /col-md-10 -->
  </div><!-- row -->
{% endblock content %}


{% block extra_js %}
<script>
// $('.container').addClass('container-fluid').removeClass('container');
</script>


<script src="{% static 'js/fitvid/jquery.fitvids.js' %}"></script>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".row").fitVids();
  });
</script>

<script>
$('.container').removeClass('container');
</script>
{% endblock extra_js %}
