<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="well sidebar-nav">
    <ul class="nav">
      <li><a href="{% url 'lecture_detail' lecture.pk %}">Lecture {{ lecture.number }}</a></li>
      <li>Exercises</li>
      <li class="active"><a href="#">Link</a></li>
      {% for exercise in lecture.exercise_set.all %}
        {% if exercise == element_active %}
          <li class="active"><a href="{% url 'exercise_detail' exercise.pk %}">{{ exercise.title }}</a></li>
        {% else %}
          <li><a href="{% url 'exercise_detail' exercise.pk %}">{{ exercise.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="{% url 'course_detail' lecture.course.pk %}">Lecture list</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->